Source: puavo-image
Section: misc
Priority: extra
Maintainer: Esa-Matti Suuronen <esa-matti.suuronen@opinsys.fi>
Build-Depends: debhelper (>= 7), ruby1.9.1
Standards-Version: 3.9.3
Homepage: https://github.com/opinsys/puavo-image

Package: puavo-image
Architecture: any
Depends: ${misc:Depends}
Suggests: lvm2, nbd-client
Description: Essentials for Puavo Images
 Makes read-only images writable
